*.sdf
*.vcxproj.user
*.VC.opendb
.vs

xcuserdata
*.xcworkspace
xcshareddata

WSATestCertificate.pfx*

UnityProject/*.csproj
UnityProject/*.sln
UnityProject/Library
UnityProject/Temp
UnityProject/UWP
UnityProject/Logs

PluginSource/build
PluginSource/projects/Android/libs/*
PluginSource/projects/Android/obj/*
